play.http.secret.key = "{{ var "APPLICATION_SECRET" }}"
play.http.context = "/"
play.i18n.langs = ["en"]
pidfile.path = "/dev/null"

hosts = [
{{ range $i, $targets := var "HOSTS" | split " " }}
{{ $split_targets := $targets | split "," }}
  {
    name = "{{ index $split_targets 0 | trim }}"
    host = "{{ index $split_targets 1 | trim }}"
  },
{{ end }}
]

rest.history.size = {{ var "REST_HISTORY_SIZE" | default "50" }}

slick.dbs.default.driver = "slick.driver.{{ var "DBS_DEFAULT_DRIVER" | default "SQLiteDriver" }}$"
slick.dbs.default.db.driver = {{ var "DBS_DEFAULT_DB_DRIVER" | default "org.sqlite.JDBC" }}
slick.dbs.default.db.url = {{ var "DBS_DEFAULT_DB_URL" | default "\"jdbc:sqlite:\"./cerebro.db" }}
play.evolutions.db.default.autoApply = true
